:root {
    --bg-color: #f8f8f8;
    --gray-color: rgb(177, 177, 177);
    --white-color: white;
    --bg-color-mobile: aquamarine;
    --bg-color-tablet: rgb(184, 130, 235);
    --padding-small: 10px;
    --padding-medium: 20px;
    --font-size-large: 20px;
    --font-size-medium: 15px;
    --box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

body {
    background-color: var(--bg-color);
    font-family: Arial, Helvetica, sans-serif;
    padding: var(--padding-small);
    margin: 0;
    overflow-y: auto;
    padding-bottom: 80px;
}

header,
footer {
    background-color: var(--gray-color);
    text-align: center;
    padding: 5px;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 15px;
}

nav ul li a {
    text-decoration: none;
    color: var(--white-color);
}

section {
    text-align: center;
    padding: var(--padding-medium) 100px;
}

section div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

section div img {
    width: 100%;
    max-width: 250px;
    margin: var(--padding-small);
}

section form {
    background-color: var(--gray-color);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    padding: var(--padding-medium);
    max-width: 650px;
    margin: 0 auto;
    overflow-y: auto;
    max-height: calc(100vh - 250px);
}

section form label {
    display: block;
    margin-bottom: var(--padding-small);
    font-size: var(--font-size-large);
}

section form input,
section form textarea {
    padding: var(--padding-small);
    border-radius: 5px;
    border: 1px solid var(--white-color);
    margin-bottom: var(--padding-medium);
    font-size: var(--font-size-medium);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    left: 0;
    box-sizing: border-box;
    z-index: 1;
}

/* movile */
@media screen and (max-width: 600px) {
    body {
        background-color: var(--bg-color-mobile);
    }

    section {
        padding: var(--padding-medium);

    }
}

/* tablet */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    body {
        background-color: var(--bg-color-tablet);
    }
}

/* escritorio */
@media screen and (min-width: 1025px) {
    body {
        background-color: var(--bg-color);
    }
}